<div class="container show-details">
  <div class="row">
    <div class="col-sm-5 image-display-sell">
      <%# image_tag url('@poster.photo'), width: '400', height: '600', align: 'left'%>
      <% if @poster.sold %>
        <div class="stick-together">
          <%= cl_image_tag @poster.photo, width: 405, crop: :fill %>
          <%= image_tag "sold.png", alt: "alttext", class: "sold", style: "height: 120px;" %>
        </div>
      <% else %>
       <%= cl_image_tag @poster.photo, width: 405, crop: :fill %>
      <% end %>
    </div>
    <div class="col-sm-7 poster-desciption-show">
      <h2><%= @poster.artist_name%></h2>
      <h1><i class="fas fa-angle-double-left"></i> <%= @poster.description %> <i class="fas fa-angle-double-right"></i></h1>
      <h3>type: <%= @poster.venue_name %></h3>
      <!-- <h3></%> purchased On: <%= @poster.date.strftime("#{@poster.date.day.ordinalize} %B %Y") %></h3> -->
      <% if @poster.sold %>
        <h1><strike>£<%= @poster.price %></strike></h1>

        <h3>Alternatively find an online version</h3>

      <img class="provider-filter__icon" ng-src="https://images.justwatch.com/icon/4610466/s100/sky-store" alt="Sky Store" title="Sky Store" ng-if="::(!isCloaked(provider.id) || inBigBrotherMode === false)" fader-on-load="" src="https://images.justwatch.com/icon/4610466/s100/sky-store" style="opacity: 1;">

      <img class="provider-filter__icon" ng-src="https://images.justwatch.com/icon/52449539/s100/amazon-prime-video" alt="Amazon Prime Video" title="Amazon Prime Video" ng-if="::(!isCloaked(provider.id) || inBigBrotherMode === false)" fader-on-load="" src="https://images.justwatch.com/icon/52449539/s100/amazon-prime-video" style="opacity: 1;">


      <% else %>
        <h1>£<%= @poster.price %> </h1>



      <% end %>
      <% if @poster.sold %>
        <p></p>
      <% else %>



     <button type="button" class="btn btn-lg btn-info" data-toggle="tooltip" data-placement="right" title="Please note this is a concept site and you will not be buying this item">
      <%= link_to "Buy Now", new_poster_transaction_path(@poster.id) %>
     </button>




      <% end %>
      <div class="seller">
        <div style="width:100%; height:1px; border: 1px solid #F23A3A"></div>
        <div>
          <%= image_tag @poster.user.avatar, alt: "alttext", style: "margin-top:-30px;", class: "avatar" %>
        </div>
        <div class="seller-contact">
          <%= @poster.user.username %>
        </div>
        <div class="btn btn-sml btn-primary seller-btn">  <p>Contact Seller</p>
        </div>
        <div class="seller-bio">
          <i class="fas fa-quote-left"></i>
          <%= @poster.user.bio %>
          <i class="fas fa-quote-right"></i>
        </div>
      </div>
    </div>
  </div>
</div>
